.reveal p {
    text-align: left;
}
.speaker-controls-notes .value {line-height:1.0;font-size:1.0em !important;}

.paired {
    float:left !important;
    max-width:47% !important;
                   
}

blockquote.paired {
    float:left;
    max-width:47%;
}
ul.paired {
    float:left !important ;
    max-width:47% !important;
}

span.figure-number {
    display:none;
}

.half {
    height: 50vh;
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
}
